body
{

	background: url("../images/680381.png") no-repeat;

	height:100%;

	width:100%;

	overflow: hidden;

	background-size:110%;

	color: white;
	font-family: 'Calibri Light',serif;


}
t10{

	color: black;
}

label {
	display: block;
	color: palegoldenrod;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}
form{
	text-align: center;
}

#watermark
{
	position:fixed;
	bottom:5px;
	right:5px;
	opacity:0.5;
	z-index:99;
	color:white;
}

